<h1>{{title}}</h1>
{{#if pageTip}}
<div class="sub pageTip"><span class="glyphicon glyphicon-info-sign"></span> {{pageTip}} </div>
{{/if}}
<div class="admin-edit"><a target="_blank" href="#" title="click to edit current resource list"><i class="fa fa-pencil fa-fw"></i> </a></div>
{{#unless noSearchBox}}
<section class="panel panel-searchbox">
    <div class="panel-body panel-body-searchbox">
      <form role="form" class="frmSearch">
          {{#each filters}}
          <section class="form-group clearfix">
            <h1>{{title}}</h1>
            <div class="btn-group" data-toggle="buttons">
                <label class="btn  btn-default btn-sm active">
                  <input type="radio" name="{{name}}" checked value="">  {{../searchfilters_default_title}}                  
                </label>
                {{#each items}}
                <label class="btn  btn-default btn-sm ">
                  <input type="radio" name="{{../name}}"  value="{{#if this.name}}{{name}}{{else}}{{this}}{{/if}}"> 
                  {{#if this.name}}{{name}}{{else}}{{this}}{{/if}}
                </label>
                {{/each}}
            </div>
          </section>
          {{/each}}

          <section class="form-group clearfix">
            <h1>keywords</h1>
            <div class="form-controls">                
                <input type="text" class="form-control inline-control"  size="50" name="keyword" placeholder="Enter keyword" />
                <button type="submit" class="btn btn-primary btn-sm btnSubmit " data-search-text="Searching  ...">Search</button>
            </div>
          </section>
      </form>
    </div>
</section>
{{/unless}}
<section class="panel panel-list">
    
      {{#if itemMode}}
        <div class="panel-body panel-body-list"></div>
      {{else}}
        <div class="panel-body">
          <table class="table table-hover panel-body-list">
            {{#if caption}}
            <caption>
              <div class="title">{{caption}}</div>
              {{#if tip}}
              <div class="sub"><span class="glyphicon glyphicon-info-sign"></span> {{tip}} </div>
              {{/if}}
            </caption>
            {{/if}}
            {{#if tableColumns}}
            <thead>
              <tr>
                <th>#</th>
                {{#each tableColumns}}
                <th>{{this}}</th>
                {{/each}}
              </tr>
            </thead>
            {{/if}}
          </table>
        </div>
      {{/if}}
    {{#unless noMoreButton}}
    <div class="campus-item seemore">
      <div class="link">
        see {{loadnum}} more items
      </div>
    </div>
    {{/unless}}
</section>