<h1>{{title}}</h1>
<section class="panel panel-searchbox">
    <div class="panel-body panel-body-searchbox">
      <form role="form">
          <div class="form-group">
            <label for="exampleInputEmail1">Event Category</label>
            <div class="btn-group" data-toggle="buttons">
                <label class="btn  active">
                  <input type="radio" name="options" id="option1" checked> Option 1 (preselected)
                </label>
                <label class="btn ">
                  <input type="radio" name="options" id="option2"> Option 2
                </label>
                <label class="btn ">
                  <input type="radio" name="options" id="option3"> Option 3
                </label>
            </div>
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
          </div>
          <div class="form-group">
            <label for="exampleInputFile">File input</label>
            <input type="file" id="exampleInputFile">
            <p class="help-block">Example block-level help text here.</p>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox"> Check me out
            </label>
          </div>
          <button type="submit" class="btn btn-default">Submit</button>
      </form>
    </div>
</section>
<section class="panel panel-list">
    <div class="panel-body panel-body-list"></div>
</section>