<a class="navbar-brand" href="#">
    <img src="images/ralogo.gif" />
    <img src= "images/listenthinksolve-horz.gif"/>
</a>
<div class="top-right-banner">
    <div class="signed-user item">
        signed in as<a href="#/profile" class="navbar-link signed-user-account btn-embed">{{user.name}}</a>
    </div>
    <div class="suggestion item">
        <img src="images/contact-icon.png"/>
        <span class="suggestion-link">
            <a class="opener" href="#">Suggestion Box</a>
        </span>
    </div>
</div>