{{#if contacts.length}}
{{#each contacts}}
<tr data-employee-id="{{nameRecordId}}">
  <td width=10%>
      {{#if ../lyncEnabled}}
        <div class="lync-status-container">
          <div class="lync-status" data-email="{{email}}"></div>
        </div>
       {{/if}}      
  </td>
  <td>
    <div class='contact-img-box'> 
      <img src="{{photo}}" alt="" class="img-circle img-thumbnail"/>
    </div>
  </td>
  <td><b>{{name}}</b></td>
  <td><b>{{chinesename}}</b></td>
  <td>{{ext}}</td>
  <td>{{team}}</td>
  <td>{{manager}}</td>
</tr>
{{/each}}
{{else}}
<tr>
<td colspan="7" class="noresult">No results.</td>  
</tr>
{{/if}}