<div class="col-md-6 userdata">
    <div class="col-md-5 image">
        <img src="{{contacts.photo}}" class="img-circle img-thumbnail">
    </div>
    <div class="col-md-7 info">
        <p class="name">{{contacts.name}}</p>
        <p class="chinese">{{contacts.chinesename}}</p>
        <p class="title">
            <a href="mailto: {{contacts.email}}" class="">{{contacts.email}}</a>
        </p>
        <dl class="below dl-horizontal">
            <dt>project</dt>
            <dd>{{contacts.project}}</dd>
            <dt>manager</dt>
            <dd>{{contacts.manager}}</dd>
            <dt>team</dt>
            <dd>{{contacts.team}}</dd>
            <dt>EXT number</dt>
            <dd>{{contacts.ext}}</dd>
        </dl>
    </div>
</div>
<div class="col-md-6 relation">
      {{#if contacts.managerId}}
      <div class="reportee">
            <div class="title label label-default">report to</div>
            <ul class="items list-inline">
                <li><a class="profilelink" href="#profile/{{contacts.managerId}}" data-contactId="{{contacts.managerId}}">
                        <img src="{{contacts.relations.manager.photo}}" class="img-thumbnail img-circle" data-toggle="tooltip" data-placement="bottom" title="{{contacts.relations.manager.name}}"/>
                    </a>
                </li>
            </ul>
      </div>
      {{/if}}

      {{#if contacts.relations.reportees}}
      <div class="reporters">
          <div class="title label label-default">direct reports</div>
          <ul class="items   list-inline">
                {{#each contacts.relations.reportees}}
                    <li><a href="#profile/{{id}}" class="profilelink" data-contactId="{{id}}">
                        <img src="{{photo}}" alt="" class="img-thumbnail img-circle" data-toggle="tooltip" data-placement="bottom" title="{{name}}"/>
                        </a>
                    </li>
                {{/each}}
            </ul>
      </div>
      {{/if}}
</div>