<div class="col-md-6 userdata">
    <div class="col-md-5 image">
        <img src="{{#if contacts.photo}}{{contacts.photo}}{{else}}images/defaultavatar.png{{/if}}" class="img-circle img-thumbnail">

        {{#if lyncEnabled}}
        <div class="lync-status-container">
          <label>Lync state:</label>
          <div class="lync-status" data-email="{{contacts.email}}"></div>
        </div>
        {{/if}}
        {{#unless isme}}
        <div class="returnhome"><button class="btn btn-default btn-xs">return my profile</button></div>
        {{/unless}}
    </div>
    <div class="col-md-7 info">
        <p class="name">{{contacts.name}}</p>
        <p class="chinese">{{contacts.chinesename}}</p>
         <p class="title">{{contacts.title}}</p>
        <dl class="below dl-horizontal">
            <dt>Project</dt>
            <dd>{{contacts.project}} &nbsp;</dd>
            <dt>Supervisor</dt>
            <dd>{{contacts.supervisor}} &nbsp;</dd>
            <dt>Team</dt>
            <dd>{{contacts.team}} &nbsp;</dd>
            <dt>Ext. number</dt>
            <dd>{{contacts.ext}} &nbsp;</dd>
        </dl>
    </div>
</div>
<div class="col-md-6 relation">
      {{#if contacts.managerId}}
      <div class="reporter">
            <div class="title label label-default">report to</div>
            <ul class="items list-inline">
                <li><a class="profilelink" href="#profile/{{contacts.managerId}}" data-contactId="{{contacts.managerId}}">
                        <img src="{{contacts.relations.manager.photo}}" class="img-thumbnail img-circle" data-toggle="tooltip" data-placement="bottom" title="{{contacts.relations.manager.name}}"/>
                    </a>
                </li>
            </ul>
      </div>
      {{/if}}

      {{#if contacts.reportees}}
      <div class="reportees">
          <div class="title label label-default">direct reports</div>
          {{#ifCond reporteeArr.length '>' 1}}
              <ol class="indicators">
              {{#each reporteeArr}}
                <li class="{{#unless @index}}active{{/unless}}" data-index= "{{@index}}"></li>
              {{/each}}
              </ol>
          {{/ifCond}}
          {{#each reporteeArr}}
            <ul class="items  list-inline {{#unless @index}}active{{/unless}}">
                  {{#each this}}
                      <li><a href="#profile/{{id}}" class="profilelink" data-contactId="{{nameRecordId}}">
                          <img src="{{#if photo}}{{photo}}{{else}}images/defaultavatar.png{{/if}}" alt="" class="img-thumbnail img-circle" data-toggle="tooltip" data-placement="bottom" title="{{name}}"/>
                          </a>
                      </li>
                  {{/each}}
              </ul>
            {{/each}}
      </div>
      {{/if}}
</div>