<div class="banner">{{#if news.author}} <span class="glyphicon glyphicon-user"></span> {{news.author}} {{/if}} {{#if news.pubdate}} <span class="glyphicon glyphicon-calendar"></span> {{formatDate news.pubdate}} {{/if}}</div>

<div class="content bodycontent clearfix">
    {{#unless news.isgeneral}}
    {{#if news.attachments.length}}
        <div class="newspic carousel carousel-news slide" data-ride="carousel">
            <!-- Carousel items -->
            <div class="carousel-inner">
                  {{#each news.attachments}}
                  <div class="item  {{#unless @index}}active{{/unless}}">
                     <img alt="{{FileName}}" src="{{ServerRelativeUrl}}"/>
                  </div>
                  {{/each}}
            </div>
            <ol class="carousel-indicators">
              {{#ifCond news.attachments.length '>' 1}}
                {{#each news.attachments}}
                <li data-target=".carousel-news" data-slide-to="{{@index}}" class="{{#unless @index}}active{{/unless}}"></li>
                {{/each}}
              {{/ifCond}}
            </ol>
        </div>
    {{/if}}
    {{/unless}}
   <div>{{{news.content}}}</div>
</div>
{{#if news.isgeneral}}
   {{#if news.attachments.length}}
       <div class="attachments">
          <span class="glyphicon glyphicon-paperclip"></span> 
          {{#each news.attachments}}
              <span class="attach_{{@index}} item"><a target="_blank" class="label label-default" title="{{FileName}}" href="{{ServerRelativeUrl}}">{{FileName}}</a></span>
          {{/each}}
      </div>
   {{/if}}  
{{/if}}