<div class="oc-banner container">
    <div  class="btn-group btn-breadcrumb">
        <a href="#" class="btn btn-default btn-home"><i class="fa fa-home"></i></a>
       {{#each bannerRoots}}
        <a href="#" class="btn btn-default" data-item-index="{{@index}}">{{name}}</a>
       {{/each}}

    </div>
</div>
<div class="tree container">
    <ul>
        {{#with root}}
        <li class="item-{{id}}">
            <div class="item-inner" data-item-id="{{nameRecordId}}">
                <div class="photo"><img src="{{#if photo}}{{photo}}{{else}}images/defaultavatar.png{{/if}}" /></div>
                <div class="name">{{name}}</div>
                 {{#if title}}<div class="title">{{title}}</div>{{/if}}
            </div>
            {{#if reportees}}
            <ul>
                {{#each reportees}}
                {{debugger this}}
                <li class="item-{{id}} item-leaf {{#unless reportees}}nochild{{/unless}}">
                    <div class="item-inner" data-item-id="{{id}}">
                        <div class="photo"><img src="{{#if photo}}{{photo}}{{else}}images/defaultavatar.png{{/if}}" /></div>
                        <div class="name">{{name}}</div>
                        {{#if title}}<div class="title">{{title}}</div>{{/if}}
                    </div>
                </li>
                {{/each}}
            </ul>
            {{/if}}
        </li>
        {{/with}}
    </ul>
</div>