<div class="banner">
    <span class="label label-default">{{campus_src.category}}</span><span class="splitter"></span>
    <span class="glyphicon glyphicon-user"></span> <b>{{campus_src.author}}</b> <span class="splitter"> | </span>
    <span class="glyphicon glyphicon-calendar"></span> {{formatDate campus_src.pubdate}}
    <span class="banner-right">
        <span>
            <span class="numjoined-container "><a href="{{campus_src.joinLink}}" class="numjoined label" target="_blank"><img src="images/loading.gif"/></a></span>
        </span>
        {{#if campus_src.available}}
            {{#if campus_src.joined}}
            <span class="btnJoin"><a href="#" class="btn btn-success  btn-xs btn-cancel" >Cancel</a></span>
            {{else}}
                {{#if campus_src.outdated}}
                <span class="btnJoin label label-warning">Out of Date</span>
                {{else}}
                <span class="btnJoin label label-primary">Available</span>
                {{/if}}
            {{/if}}        
        {{else}}
         <span class="btnJoin label label-default">Closed</span>
        {{/if}}
    </span>
</div>
<div class="content clearfix">
   <div class="col-md-3 item-image"><img src="{{campus_src.imageUrl}}" class="img-responsive"></div>
    <div class="col-md-9 item-content bodycontent">
          <p>{{{campus_src.content}}}</p>
    </div>
</div>
{{#if campus_src.attachments.length}}
<div class="attachments">
    <span class="glyphicon glyphicon-paperclip"></span> 
    {{#each campus_src.attachments}}
        <span class="attach_{{@index}} item"><a target="_blank" class="label label-default" title="{{FileName}}" href="{{ServerRelativeUrl}}">{{truncate FileName 20}}</a></span>
    {{/each}}
</div>
{{/if}}