<div class="banner">
    <span class="label label-default">{{campus_src.category}}</span><span class="splitter"></span>
    <span class="glyphicon glyphicon-user"></span> <b>{{campus_src.author}}</b> <span class="splitter"> | </span>
    <span class="glyphicon glyphicon-calendar"></span> {{formatDate campus_src.pubdate}}
    <span class="banner-right">
        <span>
            <span class="numjoined label label-primary">{{campus_src.numJoined}}</span>
        </span>
        {{#if campus_src.available}}
        <span class="btnJoin"><a href="{{campus_src.joinLink}}" class="btn btn-default btn-xs">Join</a></span>
        {{else}}
         <span class="text-muted"> closed </span>
        {{/if}}
    </span>
</div>
<div class="content row">
   <div class="col-md-3 item-image"><img src="{{campus_src.imageUrl}}" class="img-responsive"></div>
    <div class="col-md-9 item-content bodycontent">
          <p>{{{campus_src.content}}}</p>
    </div>
</div>
{{#if campus_src.attachments.length}}
<div class="attachments">
    <span class="glyphicon glyphicon-paperclip"></span> 
    {{#each campus_src.attachments}}
        <span class="attach_{{@index}} item"><a target="_blank" href="{{ServerRelativeUrl}}">{{FileName}}</a></span> <span class="splitter"></span>
    {{/each}}
</div>
{{/if}}