<div class="banner">
    <span class="label label-default">{{campus_src.category}}</span><span class="splitter"></span>
    <span class="glyphicon glyphicon-user"></span> <b>{{campus_src.author}}</b> <span class="splitter"> | </span>
    <span class="glyphicon glyphicon-calendar"></span> {{formatDate campus_src.pubdate}}
    <span class="banner-right">
        <span>
            <span class="numjoined label"><img src="images/loading.gif"/></span>
        </span>
        {{#if campus_src.available}}
            {{#if campus_src.joined}}
            <span class="btnJoin"><a href="{{joinLink}}" class="btn btn-success  btn-xs" target="_blank"  >cancel</a></span>
            {{else}}
            <span class="btnJoin"><a href="{{campus_src.joinLink}}" target="_blank" class="btn btn-primary btn-xs">Join</a></span>
            {{/if}}
        
        {{else}}
         <span class="text-muted"> closed </span>
        {{/if}}
    </span>
</div>
<div class="content clearfix">
   <div class="col-md-3 item-image"><img src="{{campus_src.imageUrl}}" class="img-responsive"></div>
    <div class="col-md-9 item-content bodycontent">
          <p>{{{campus_src.content}}}</p>
    </div>
</div>
{{#if campus_src.attachments.length}}
<div class="attachments">
    <span class="glyphicon glyphicon-paperclip"></span> 
    {{#each campus_src.attachments}}
        <span class="attach_{{@index}} item"><a target="_blank" class="label label-default"  href="{{ServerRelativeUrl}}">{{FileName}}</a></span> <span class="splitter"></span>
    {{/each}}
</div>
{{/if}}