{{#each campus_src}}
<div class="campus-item">
	<div class="head"><h4>{{title}}</h4></div>
	<div class="banner">
	    <span class="label label-default">{{category}}</span><span class="splitter"></span>
	    <span class="glyphicon glyphicon-user"></span> <b>{{author}}</b> <span class="splitter"> | </span>
	    <span class="glyphicon glyphicon-calendar"></span> {{pubdate}}
	    <span class="banner-right">
	    	<span><span class="numjoined">{{numJoined}}</span></span>
	    	{{#if ../noJoinLink}}
        		<span>joined</span><span class="btnJoin"><a href="{{joinLink}}" class="btn btn-default  btn-xs">view<span class="glyphicon glyphicon-hand-right"></span></a></span>
        {{else}}
	    	<span class="btnJoin"><a href="{{joinLink}}" class="btn btn-default   btn-xs">Join <span class="glyphicon glyphicon-hand-right"></span></a></span>
	    	{{/if}}
	    </span>
	</div>
	<div class="content row">
	   <div class="col-md-3 item-image"><img src="{{imageUrl}}" class="img-responsive"></div>
	    <div class="col-md-9 item-content bodycontent">
	          <p>{{{content}}}</p>
	    </div>
	</div>
	{{#if attachments.length}}
	<div class="attachments">
	    <span class="glyphicon glyphicon-paperclip"></span> 
	    {{#each attachments}}
	        <span class="attach_{{@index}} item"><a target="_blank" href="{{link}}">{{title}}</a></span> <span class="splitter"></span>
	    {{/each}}
	</div>
	{{/if}}
</div>
{{/each}}