{{#each campus_src}}
<div class="campus-item">
	<div class="head"><h4>{{title}}</h4>
			<span class="banner-right">
	    	 <span class="numjoined label label-primary">{{numJoined}}</span>
	    	{{#if available}}
		    	{{#if ../../noJoinLink}}
	        		<span class="btnJoin"><a href="{{joinLink}}" class="btn btn-default  btn-xs" target="_blank"  >cancel</a></span>
	        		{{else}}
		    	<span class="btnJoin"><a href="{{joinLink}}" class="btn btn-default   btn-xs" target="_blank"  >Join</a></span>
		    	{{/if}}
	    	{{else}}
	    		<span class="text-muted">closed</span>
	    	{{/if}}
	    </span>
	</div>
	<div class="banner">
	    <span class="label label-default">{{category}}</span><span class="splitter"></span>
	    <span class="glyphicon glyphicon-user"></span> <b>{{author}}</b> <span class="splitter"> | </span>
	    <span class="glyphicon glyphicon-calendar"></span> {{pubdate}}
	</div>
	<div class="content row">
	   <div class="col-md-3 item-image"><img src="{{imageUrl}}" class="img-responsive"></div>
	    <div class="col-md-9 item-content bodycontent">
	          <p>{{{content}}}</p>
	    </div>
	</div>
	{{#if attachments.length}}
	<div class="attachments">
	    <span class="glyphicon glyphicon-paperclip"></span> 
	    {{#each attachments}}
	        <span class="attach_{{@index}} item"><a target="_blank" href="{{link}}">{{title}}</a></span> <span class="splitter"></span>
	    {{/each}}
	</div>
	{{/if}}
</div>
{{/each}}