<form role="form" class="frmSuggestion">
    <div class="row">
       <div class="to item">
            <label class="radio-inline">
              <input type="radio" class="input" name="To" value="campus_manager" checked> Campus Manager
            </label>
            <label class="radio-inline">
              <input type="radio" class="input" name="To" value="hr"> HR Manager
            </label>    
       </div>
       <div class="subject item">
            <input type="text" class="form-control input" name="Subject" placeholder="Enter the subject">
       </div>
       <div class="content item">
           <textarea class="form-control input" rows="20"  name="Body" placeholder="Enter your suggestions here"></textarea>
       </div>   
    </div>

    <div class="footer inline">
        <div class="buttons">
             <button type="submit" data-loading-text="Sending the Suggestion ..." class="btn btn-primary btnsubmit">Submit</button>
        </div>
    </div>
</form>