<form role="form" class="frmSuggestion">
    <div class="row">
       <div class="to item">
            <label class="radio-inline">
              <input type="radio" class="input" name="receiver" value="campus_manager" checked> Campus Manager
            </label>
            <label class="radio-inline">
              <input type="radio" class="input" name="receiver" value="hr"> HR Specialist
            </label>    
       </div>
       <div class="subject item">
            <input type="text" class="form-control input" name="subject" placeholder="enter the subject.">
       </div>
       <div class="content item">
           <textarea class="form-control input" rows="20"  name="content" placeholder="Enter what you want to say here."></textarea>
       </div>   
    </div>

    <div class="footer inline">
        <div class="buttons">
             <button type="submit" data-loading-text="Posting Suggestion ..." class="btn btn-primary btnsubmit">Submit</button>
        </div>
    </div>
</form>