{{#if campus_survey.length}}
{{#each campus_survey}}
<div class="campus-item">
	<div class="head"><h4>{{title}}</h4>
			<span class="banner-right">
	    	 <span class="numjoined label"><img src="images/loading.gif"/></span>
	    	{{#if available}}
	    		<span class="btnJoin"><a href="{{votelink}}" class="btn btn-primary   btn-xs" target="_blank"  >Vote</a></span>
	    	{{else}}
	         	<span class="text-muted"> closed </span>
	        {{/if}}
	    </span>
	</div>
	<div class="banner">
	    <span class="glyphicon glyphicon-user"></span> <b>{{author}}</b> <span class="splitter"> | </span>
	    <span class="glyphicon glyphicon-calendar"></span> {{formatDate pubdate}}
	</div>
	<div class="content">
	   <p>{{{content}}}</p>
	</div>
</div>
{{/each}}
{{else}}
<div class="campus-item noresult">
No results.
</div>
{{/if}}