<div class="banner">
    <span class="glyphicon glyphicon-user"></span> <b>{{campus_survey.author}}</b> <span class="splitter"> | </span>
    <span class="glyphicon glyphicon-calendar"></span> {{formatDate campus_survey.pubdate}}
    <span class="banner-right">
        <span class="numjoined label"><img src="images/loading.gif"/></span>
        {{#if campus_survey.available}}
        <span class="btnJoin"><a href="{{campus_survey.votelink}}" class="btn btn-default  btn-xs">vote</a></span>
        {{else}}
         <span class="text-muted"> closed </span>
        {{/if}}
    </span>
</div>
<div class="content bodycontent">
   <p>{{{campus_survey.content}}}</p>
</div>