<div class="banner">
    <span class="glyphicon glyphicon-user"></span> <b>{{campus_survey.author}}</b> <span class="splitter"> | </span>
    <span class="glyphicon glyphicon-calendar"></span> {{campus_survey.pubdate}}
    <span class="banner-right">
        <span><span class="numjoined">{{campus_survey.numJoined}}</span></span>
        <span class="btnJoin"><a href="{{campus_training.joinLink}}" class="btn btn-default  btn-xs">voted</a></span>
    </span>
</div>
<div class="content bodycontent">
   <p>{{{campus_survey.content}}}</p>
</div>