{{#each campus_training}}
<div class="campus-item">
	<div class="head">
    <h4>{{title}}
        <!--{{#ifCond ../curUserId authorId}}
        <span class="trcode"><a class="trcode-link" href="javascript:;" data-toggle="popover" data-placement="top"  title="view training code" data-content="{{trainingcode}}"><i class="fa fa-key"></i></a></span>
        {{/ifCond}} -->
    </h4>
		<span class="banner-right">
      <span class="numjoined label" data-join-link="{{joinLink}}"><img src="images/loading.gif"/></span>
      {{#if available}}
          {{#if ../../noJoinLink}}
              
              {{#ifCond ../../../curUserId authorId}}
                  <span class="btnJoin label label-default"> I am trainer </span>
              {{else}}
                  {{#if done}}
                      <span class="text-muted"> attended </span>
                  {{else}}
                      <span class="btnJoin"><a href="#"  class="label label-success">Unregister</a></span>
                  {{/if}}
              {{/ifCond}}            
          {{else}}
              <span class="btnJoin label label-default">register</span>
          {{/if}}
      {{else}}
          <span class="text-muted">closed</span>
      {{/if}}  
    </span>
	</div>
	<div class="banner">
    <span class="label label-default">{{category}}</span><span class="splitter">&nbsp;</span>
    <span class="glyphicon glyphicon-user"></span> <b>{{author}}</b> <span class="splitter"> | </span>
    <span class="glyphicon glyphicon-calendar"></span> {{formatDate pubdate}} <span class="splitter"> </span> {{timespan}} <span class="splitter"> | </span>
    <span class="glyphicon glyphicon-globe"></span> <b>{{room}}</b> <span class="splitter"> | </span>
    <span>Difficulty:</span> {{Rank}}
	</div>
	<div class="content bodycontent">
	   <p>{{{content}}}</p>
	</div>
	{{#if attachments.length}}
	<div class="attachments">
	    <span class="glyphicon glyphicon-paperclip"></span> 
	    {{#each attachments}}
	        <span class="attach_{{@index}} item"><a target="_blank" class="label label-default" title="{{FileName}}" href="{{ServerRelativeUrl}}">{{truncate FileName 20}}</a></span> <span class="splitter"></span>
	    {{/each}}
	</div>
	{{/if}}
</div>
{{/each}}