<div class="banner">
    <span class="label label-default">{{campus_training.category}}</span><span class="splitter">&nbsp;</span>
    <span class="glyphicon glyphicon-user"></span> <b>{{campus_training.author}}</b> <span class="splitter"> | </span>
    <span class="glyphicon glyphicon-calendar"></span> {{formatDate campus_training.pubdate}} <span class="splitter"></span> <sub>{{campus_training.timespan}}</sub>
    <br/><br/>
    <span class="glyphicon glyphicon-globe"></span> <b>{{campus_training.room}}</b> <span class="splitter"> | </span>
    <span>Difficulty:</span> {{campus_training.Rank}}
    <span class="banner-right">
         <span class="numjoined label"><img src="images/loading.gif"/></span>
        {{#if campus_training.available}}
            {{#ifCond ../curUserId campus_training.authorId}}
                <span class="btnJoin"><a href="{{campus_training.joinLink}}" target="_blank" class="btn btn-default btn-xs">I am trainer</a></span>
            {{else}}
                {{#if campus_training.done}}
                    <span class="text-muted"> attended </span>
                {{else}}
                        {{#if campus_training.joined}}
                            <span class="btnJoin"><a href="{{campus_training.joinLink}}" target="_blank" class="btn btn-success btn-xs">Unregister</a></span>
                        {{else}}
                            {{#if campus_training.outdated}}
                                <span class="btnJoin"><a href="{{campus_training.joinLink}}" class="btn btn-warning  btn-xs" target="_blank"  > Out of Date </a></span>
                            {{else}}
                                <span class="btnJoin"><a href="{{campus_training.joinLink}}" target="_blank" class="btn btn-primary btn-xs">register</a></span>
                            {{/if}}
                        {{/if}}
                {{/if}}
            {{/ifCond}}
        {{else}}
        <span class="text-muted"> closed </span>
        {{/if}}
    </span>
</div>
<div class="content bodycontent">
   <p>{{{campus_training.content}}}</p>
</div>

{{#if campus_training.attachments.length}}
<div class="attachments">
    <span class="glyphicon glyphicon-paperclip"></span> 
    {{#each campus_training.attachments}}
        <span class="attach_{{@index}} item"><a target="_blank" class="label label-default" title="{{FileName}}" href="{{ServerRelativeUrl}}">{{truncate FileName 20}}</a></span>
    {{/each}}
</div>
{{/if}}