<div class="banner">
    <span class="label label-default">{{campus_training.category}}</span><span class="splitter">&nbsp;</span>
    <span class="glyphicon glyphicon-user"></span> <b>{{campus_training.author}}</b> <span class="splitter"> | </span>
    <span class="glyphicon glyphicon-calendar"></span> {{formatDate campus_training.pubdate}} <span class="splitter"></span> <sub>{{campus_training.timespan}}</sub>
    <br/><br/>
    <span class="glyphicon glyphicon-globe"></span> <b>{{campus_training.room}}</b> <span class="splitter"> | </span>
    <span>Difficulty:</span> {{campus_training.Rank}}
    <span class="banner-right">
         <span class="numjoined-container "><a href="{{campus_training.joinLink}}" class="numjoined label" target="_blank"><img src="images/loading.gif"/></a></span>
        {{#if campus_training.available}}
            {{#ifCond ../curUserId campus_training.authorId}}
                <span class="btnJoin label label-info"> I am trainer </span>
            {{else}}
                {{#if campus_training.joined}}
                    <span class="btnJoin"><a href="#" class="btn btn-success  btn-xs btn-cancel">Unregister</a></span>
                {{else}}
                    {{#if campus_training.outdated}}
                        <span class="btnJoin label label-warning">Out of Date</span>
                    {{else}}
                        <span class="btnJoin label label-primary">Available</span>
                    {{/if}}
                {{/if}}
            {{/ifCond}}
        {{else}}
        <span class="btnJoin label label-default">Closed</span>
        {{/if}}
    </span>
</div>
<div class="content bodycontent">
   <p>{{{campus_training.content}}}</p>
</div>

{{#if campus_training.attachments.length}}
<div class="attachments">
    <span class="glyphicon glyphicon-paperclip"></span> 
    {{#each campus_training.attachments}}
        <span class="attach_{{@index}} item"><a target="_blank" class="label label-default" title="{{FileName}}" href="{{ServerRelativeUrl}}">{{truncate FileName 20}}</a></span>
    {{/each}}
</div>
{{/if}}