<section class="panel panel-emprofile">
    <div class="panel-head"><h1>Employee Profile</h1>
    <div style="
    position: absolute;
    right: 20px;
    top: 20px;"><button class="btn btn-default btn-xs">return my profile</button></div>
    </div>
    <div class="panel-body"></div>
</section>
<section class="panel panel-list panel-training">
    <div class="panel-head">
    	<h1><i class="fa fa-rss"></i> My booked training sessions</h1>
    	<div class="panel-head-right"><a href="#/campus/trainings">view all of the training sessions<a/></div>
    </div>
    <div class="panel-body panel-training-list"></div>
</section>
<section class="panel panel-list panel-src">
    <div class="panel-head"><h1><i class="fa fa-rss"></i> My joined SRC Events</h1>
    <div class="panel-head-right"><a href="#/campus/src">view all of the SRC Events<a/></div>
    </div>
    <div class="panel-body"></div>
</section>
