<section class="panel panel-emprofile">
    <div class="panel-head"><h1>Employee Profile</h1></div>
    <div class="panel-body"></div>
</section>
<section class="panel panel-list panel-training">
    <div class="panel-head"><h1><i class="fa fa-rss"></i> My booked training sessions</h1></div>
    <div class="panel-body"></div>
</section>
<section class="panel panel-list panel-src">
    <div class="panel-head"><h1><i class="fa fa-rss"></i> My joined SRC Events</h1></div>
    <div class="panel-body"></div>
</section>
