<div class="col-md-4 image">
    <img src="{{contacts.image}}" class="img-circle img-thumbnail">
</div>
<div class="col-md-8 info">
    <p class="name">{{contacts.name}}</p>
    <p class="chinese">{{contacts.chineseName}}</p>
    <p class="title">{{contacts.title}}</p>
    <dl class="below dl-horizontal">
        <dt>team</dt>
        <dd>{{contacts.team}}</dd>
        <dt>manager</dt>
        <dd>{{contacts.manager}}</dd>
        <dt>EXT number</dt>
        <dd>{{contacts.ext}}</dd>
    </dl>
</div>