<div class="col-md-10 column-main">
      <section class="panel panel-container panel-default panel-news shadow-bottom-lr"></section>
      <section class="panel panel-container panel-default panel-updates"></section>
      <section class="panel-notify ">
        <div class="">
             <div class="row">
                  <div class="col-md-5 ">
                        <div class="panel   panel-notify-sub  panel-notify-birthday"></div>
                  </div>
                  <div class="col-md-7 ">
                         <div class="panel panel-default panel-notify-sub panel-notify-hire shadow-paper"></div>
                  </div>
          </div>
        </div>
      </section>
      <section class="panel panel-container panel-default panel-survey"></section>   
</div>
<div class="col-md-2 column-right-side">
      <section class="panel panel-default  panel-container panel-profile"></section>
      <section class="panel panel-default panel-container panel-links"></section>
      <section class="panel-sugesstion">
        <div class="icon pull-left">
            <img src="images/contact-icon.png"/>
        </div>
        <div class="suggestion-link">
            <a href="#feedback">Suggestion <br/>box</a>
        </div>
      </section>
</div>