<form role="form">
    <div class="content row">
       <div class="to item">
            <label class="radio-inline">
              <input type="radio" class="input" name="input" value="campus_manager"> Campus Manager
            </label>
            <label class="radio-inline">
              <input type="radio" class="input" name="input" value="hr"> HR Specialist
            </label>    
       </div>
       <div class="subject item">
            <input type="text" class="form-control input">
       </div>
       <div class="content item">
           <textarea class="form-control input" rows="3"></textarea>
       </div>   
    </div>

    <div class="footer">
        <div class="buttons">
             <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>
</form>