<div class="panel-head">
    <h1 data-title="Campus survey" class="reflected"> Campus survey </h1>
</div>
<div class="panel-body">
      <div class="row">
      <div class="col-md-6 ">
        <div class="list-group list-group-survey shadow-bottom-m">
          <div class="list-group-item title"> New Survey</div>
          {{#each campus_survey-new}}
          <a href="#campus/surveys/{{id}}" class="list-group-item item-{{id}}">{{title}}</a>
          {{/each}}
        </div>
      </div>
      <div class="col-md-6 ">
            <div class="list-group list-group-survey  shadow-bottom-m">
                <div class="list-group-item title"> Popular Survey</div>
                {{#each campus_survey-popular}}
                <a href="#campus/surveys/{{id}}" class="list-group-item item-{{id}}">{{title}}</a>
                {{/each}}
          </div>
      </div>
  </div>
</div>