<div class="panel-head">
    <h1 data-title="Campus Update"> {{title}} </h1>
</div>
<div class="panel-body">
    <div class="row">
        <div class="list-group list-group-src shadow-bottom-lr">
          <div class="list-group-item title"><span class="title-icon glyphicon glyphicon-list"></span> {{subtitle_news}}
          <div class="banner-right">
          {{#each newsTypes}}
            <span class="name site-role label label-{{this}}" data-type="{{this}}">{{this}}</span>
          {{/each}}
          </div>
          </div>
          <div>
          {{#if news}}
              {{#each news}}
              <a data-item-id="{{id}}" data-type="{{type}}" href="#" class="list-group-item item-{{id}}"><span class="labelc label-{{type}}">{{labelc}}</span><span class="">{{title}}</span><span class='pull-right date'>{{formatDate pubdate}}</span></a>
              {{/each}}
          {{else}}
              <a class="list-group-item item-empty">No News.</a>
          {{/if}}
          </div>
        </div>
        </div>
</div>