<div class="panel-head">
    <h1 data-title="{{title}}">{{title}} </h1>
</div>
<div class="panel-body">
   <div class="row">
       <div class="carousel slide carousel-fade" data-ride="carousel">
              <ol class="carousel-indicators">
                    {{#each news}}
                    <li data-target=".panel-news .carousel" data-slide-to="{{@index}}" class="{{#unless @index}}active{{/unless}}"></li>
                    {{/each}}
              </ol>
              <!-- Carousel items -->
              <div class="carousel-inner">
                    {{#each news}}
                    {{#if imageUrl}}
                    <div class="item row news-{{id}}  {{#unless @index}}active{{/unless}}">
                        <div class="col-md-3 panel-body-pic"><img src="{{imageUrl}}" class="img-responsive"></div>
                        <div class="col-md-9 panel-body-content">
                              <h4 class="article-title">{{title}}</h4>
                              <p class="publisher">created {{#if author}}by {{author}}{{/if}} at {{formatDate pubdate}}</p>
                              <div class="news-content" data-item-index="{{@index}}">{{{content}}}</div>
                        </div>
                    </div>
                    {{else}}
                    <div class="item news-{{id}}  {{#unless @index}}active{{/unless}}">
                        <div class="panel-body-content">
                              <h4 class="article-title">{{title}}</h4>
                              <p class="publisher">created by {{author}} at {{formatDate pubdate}}</p>
                              <div class="news-content" data-item-index="{{@index}}">{{{content}}}</div>
                        </div>
                    </div>
                    {{/if}}
                    {{/each}}
              </div>
              <!-- Carousel nav -->
             <!-- <a class="carousel-control left" href="#carousel" data-slide="prev">&lsaquo;</a>
             <a class="carousel-control right " href="#carousel" data-slide="next">&rsaquo;</a> -->
      </div>
  </div> 
</div>