<div class="panel-notify-sub-heading">{{title}}</div>
<div class="panel-notify-sub-list panel-notify-sub-hire-information">
   {{#if contacts}}
    <div class="carousel slide" data-ride="carousel">
        <!-- Bottom Carousel Indicators -->
        {{#ifCond contacts.length '>' 1}}
          <ol class="carousel-indicators">
          {{#each contacts}}
            <li data-target=".panel-notify-hire .carousel" data-slide-to="{{@index}}" class="{{#unless @index}}active{{/unless}}"></li>
          {{/each}}
          </ol>
        {{/ifCond}}
        
        <!-- Carousel Slides / Quotes -->
        <div class="carousel-inner"> 
        {{#each contacts}}
          <!-- Quote  {{@index}} -->
          <div class="item hire-{{nameRecordId}}  {{#unless @index}}active{{/unless}}">
            <blockquote>
              <div class="row">
                <div class="col-xs-4 text-center avatar">
                    <div class="contact-img-box">
                        <a href="#campus/employees" data-employee-id="{{nameRecordId}}" class="profilelink">
                            <img class="img-circle  img-thumbnail" src="{{photo}}">
                        </a>
                    </div>
                </div>
                <div class="col-xs-8 intro">
                  <p class="statement" data-item-index="{{@index}}">{{{intro}}}</p>
                  <p class="small"><span class="name site-role label label-primary">{{name}}</span><span class="team">{{team}}</span><span class="project">{{project}}</span></p>
                </div>
              </div>
            </blockquote>
          </div>
          {{/each}}
        </div>
        
        <!-- Carousel Buttons Next/Prev -->
        <a data-slide="prev" href="#quote-carousel" class="left carousel-control"><i class="fa fa-chevron-left"></i></a>
        <a data-slide="next" href="#quote-carousel" class="right carousel-control"><i class="fa fa-chevron-right"></i></a>
      </div>    
      {{else}}
          <div class="alert" role="alert"> No New Hires. </div> 
      {{/if}}
</div>