<div class="item">
    <span class="icon">
        <img src="/_layouts/15/images/icdoc.png" class="icon-doc"/>
    </span>
    <span class="feedback-link">
        <a target="_blank" href="/campus/_layouts/15/WopiFrame.aspx?sourcedoc=%2Fcampus%2FDocuments%2FDalianWebSiteUserManual%2Edoc&action=view">User Manual</a>
    </span>
</div>
<div class="item">
    <span class="icon">
        <img src="images/feedback-icon.png"/>
    </span>
    <span class="feedback-link">
        <a target="_blank" href="/campus/Lists/issues/">Feedback and Suggestion</a>
    </span>
</div>