body{
    font-size:12px;
    line-height: 1.4;
    /* font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif !important; */
}

h1,h2,h3,h4, h5,h6 {
     /* font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif !important; */
   /* font-family: "Segoe UI Light","Segoe UI","Segoe",Tahoma,Helvetica,Arial,sans-serif !important; */
   /* font-weight: bolder; */
}

* a {color : #aaa;}
* a:hover {color:#000;};